body {
    margin: 0;
}

div, footer {
    padding: 16px;
}

.top, footer {
    background: #1f2937;
    /* Temporary */
    color: white;
}

.quotes {
    background: #e5e7eb;
}

.cta {
    background: #3882f6;
}