body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body div,
footer {
    padding: 16px 10%;
}

.top,
.cta,
footer {
    background: #1f2937;
    color: #f9faf8;
}

.top-content,
.info-content {
    display: flex;
    align-items: center;
}

.top-content,
.top-content div {
    padding: 0;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.header-logo {
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.hero-secondary,
li {
    font-size: 18px;
    color: #e5e7eb;
}

.info,
footer {
    text-align: center;
}

.info h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info img {
    border: solid 3px #3882f6;
    border-radius: 10px;
}

header,
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.quote {
    background: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote q {
    width: 50%;
    margin: auto;
}

.cta {
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.cta,
button {
    background: #3882f6;
    margin: 0 auto;
}

.cta div {
    max-width: 50%;
}

button {
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    color: #f9faf8;
    font-weight: bold;
}

.cta button {
    border: solid 2px #f9faf8;
}