body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div,
footer {
    padding: 16px;
}

.top,
footer {
    background: #1f2937;
    color: #f9faf8;
}

.top-content,
.info-content {
    display: flex;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.hero-secondary, li {
    font-size: 18px;
    color: #e5e7eb;
}

.info,
footer {
    text-align: center;
}

.info h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

header,
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.quote {
    padding: 32px;
    background: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote q {
    width: 50%;
    margin: auto;
}

.cta,
button {
    background: #3882f6;
}

button {
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    color: #f9faf8;
    font-weight: bold;
}

.cta button {
    border: solid 2px #f9faf8;
}